* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
margin: 0 auto;
}

.view {
	max-width: 1200px;
	width: 1200px;
	margin: 0 auto;
}

nav {
	position: relative;
	max-height: 100px;
}

#logo {
	width: 100%;
	max-width: 400px;
	max-height: 100px;
}

#menu {
	max-width: 800px;
	width: 100%;
	display: inline-block;
	position: absolute;
	padding-left: 200px;
    top: 40px;
}

#menu a {
	display: inline-block;
    width: 25%;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

#menu a:hover {
	background-color: #4c5fef;
	color: white;
}

.active {
	background-color: #4c5fef;
	color: white !important;
}

/* optymalize this code !!!  */
ol {
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:18px;
  line-height:2em;
  text-align:center;
}

ol li {
   float:left;
   width:100%;
   background-color:#4c5fef;
   height:2em;
}

ol li:first-child {
	margin-left:0;
}

ol li:hover {
   background-color:#4f91f9;
   border-radius: 5px;
}

#ofer:hover ol ul {
    display:block;
}

ol ul {
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
}
        
ol ul li {
	position:relative;
}


#slider {
	width: 100%;
	height: 550px;
	background-color: grey;
}

article {
	height: 600px;
	background-color: #f9fafc;
}

.contact {
	height: 200px;
	background-color: black;
	color: white;
	font-size: 50px;
}
/*change name class */
.contact p {
	margin: auto;
	width: 100%;
	max-width: 1200px;
    padding-top: 40px;
}

#name {
	height: 150px !important;
}

#contact {
	font-size: 25px;
	padding-left: 25px;
	padding-top: 40px;
	color: #8a8c91;
}

#contactIndex p {
	
}

#contactIndex a {
	text-decoration: none;
	color: black;
	background-color: #dadee5;
	padding: 5px;
	font-size: 40px;
	border-radius: 10px;
	margin-left: 40%;
}

#form {
	color: #77787a;
}

footer {
	height: 70px;
	font-size: 30px;
	text-align: center;
}
