* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
}

.view {
	max-width: 1200px;
	width: 1200px;
	margin: 0 auto;
}



/*v Header v*/
nav {
	height: 100px;
	margin-bottom: 15px !important;
}

#logo {
	float: left;
	width: 100%;
	max-width: 400px;
	max-height: 100px;
}


#menu {
	max-width: 800px;
	width: 100%;
	display: block;
	padding-top: 40px;
	padding-left: 300px;
	padding-right: 30px;
    float: left;
}

.menu_a {
    width: 25%;
    color: black;
    text-decoration: none !IMPORTANT; 
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    transition: background-color 1s;
}

#menu a:hover {
	background-color: #4c5fef;
	color: white;
	padding-left: 7px;
	padding-right: 7px;
	transition: background-color 1s;
}

.activeNav {
	background-color: #4c5fef;
	color: white !important;
}
/*^ Header ^*/



/*v Slider v*/
#slider {
	clear: both;
}

#slider img {
	width: 100%;
	max-height: 500px;
}

/*^ Slider ^*/



/*v oferta ogolna v*/
#artMain{
	text-align: left;
	height: 400px;
	padding: 5px;
}

#artMain h2 {
	font-size: 40px;
	text-align: center;
	margin: 25px;
}

#artMain img {
	width: 100%
	max-width: 100px;
	float: left;
	transition: margin-top 1s;
}

.tab:hover img {
	margin-top: 5px;
	transition: margin-top 1s;
}

.tab {
	float: left;
	width: 33%;
	padding: 5px;
	max-height: 100px;
	margin-top: 25px;
}

.tab h4 {
	font-size: 22px;
	margin-bottom: 5px;
}
/*^ oferta ogolna ^*/


/*v article firma.html v*/

article {
	padding: 10px;
	height: 300px;
}

article h2 {
	font-size: 30px;
	text-align: center;
	margin: 15px;
}

/*^ article firma.html ^*/


/*v oferta.html v*/

#offer_block {
	height: 1500px;
}

.offer {
	width: 100%;
	height: 450px;
}

.offer img {
	width: 100%;
	max-height: 300px;
	float: left;
	padding: 10px;
}

.offer h2 {
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

.offer p {
	clear:both;
	font-size: 15px;
	padding: 10px;
}

/*^ oferta.html ^*/



/*v main name on subpage v*/
.nameSubpage {
	height: 150px;
	background-color: black;
	color: white;
	font-size: 50px;
	clear: both;
}


.nameSubpage p {
	margin: auto;
	width: 100%;
	max-width: 1200px;
    padding-top: 40px;
}
/*^ main name on subpage ^*/


/*v contact on bottom index.html v*/
#contactBottom {
	float:left;
	width: 100%;
	height: 200px;
	background-color: black;
	font-size: 50px;
}

#contactBottom p {
	height: 126px;
	width: 700px;
	margin: 60px auto;
}

#contactBottom a {
	float: left;
	text-decoration: none;
	color: black;
	background-color: #dadee5;
	padding: 5px;
	font-size: 40px;
	border-radius: 10px;
	margin: 0 auto;
	border-style: solid;
	border-color: black;
}
/*^ contact on index.html ^*/


/*v only kontakt.html v*/
#contactText {
	float: left;
}

#contactMap {
	float: right;
	margin: 60px;
}

#contact {
	height: 700px;
	font-size: 25px;
	padding-left: 25px;
	padding-top: 40px;
	color: #8a8c91;
}

#contact a {
	text-decoration: none;
	color: #8a8c91;
}

/*^ only kontakt.html ^*/


footer {
	clear: both;
	height: 70px;
	width: 100% !important; 
	font-size: 30px;
	text-align: center;
}
